<!--- =================================== All goals Panel =================================== -->
<div id="allGoalsPanel">
	<div class="allGoalsPanel_topMenu">
		<span [class]="getCSSOf__allGoalsPanel_topMenu_item('current')" (click)="setCSSOf__allGoalsPanel_topMenu_item('current')">Current goals ({{goals.length}})</span>
		<span [class]="getCSSOf__allGoalsPanel_topMenu_item('finished')" (click)="setCSSOf__allGoalsPanel_topMenu_item('finished')">Finished goals ({{finishedGoals.length}})</span>
	</div>
	<h4 *ngIf="showCurrentOrFinished==='current'">Current goals (using {{usageOfIncomeInPercents()}}% of income)</h4>
	<div *ngIf="showCurrentOrFinished==='current'" [dragula]='"goalsList"' [dragulaModel]="goals">
		<div class="col-md-12" *ngFor="let goal of goals; let i = index" >
		<div *ngIf="showAllGoals || i<3" class="allGoalsPanel__goalElement col-md-12">
				<p (click)="editExistingGoal(goals[i])" class="allGoalsPanel__goalElement__edit-button"><span class="glyphicon glyphicon-pencil"></span></p>
				<p (click)="deleteExistingGoal(i)" class="allGoalsPanel__goalElement__delete-button"><span class="glyphicon glyphicon-remove"></span></p>
				<div class="row">
					<div class="col-md-4">
						<img class="center-block img-responsive allGoalsPanel__goalElement_img" [src]="getGoalImage(goal)">
					</div>
					<div class="col-md-8">
						<div [ngClass]="isActive_CSSClass(i)">

							<h4>{{ goal.goalTitle }} : {{ goal.goalPrice }}$</h4>
							<p class="allGoalsPanel__priority">
								Priority №{{i+1}} | Save {{goal.percentToSave}}% of income 
							</p>
							<p class="allGoalsPanel__status">
								Status: {{isActive(i)}}
							</p>
							<p class="allGoalsPanel__goalElement_description">
								{{ goal.goalDescription }}
							</p>
							<p class="allGoalsPanel__goalElement_percent_complete">{{goal.percentComplete}}% Complete</p>
							<md-progress-bar color="primary" [value]="goal.percentComplete"></md-progress-bar>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h4 *ngIf="showCurrentOrFinished==='finished'">Finished goals</h4>
	<div *ngIf="showCurrentOrFinished==='finished'">
		<div class="col-md-12" *ngFor="let finishedGoal of finishedGoals; let i = index" >
		<div *ngIf="showAllGoals || i<3" class="finishedGoalsPanel__goalElement col-md-12">
				
				<p (click)="_INSERT_FUNCTION_THAT_REMOVES_FINISHED_GOAL_FROM_ARCHIVE_AND_DB()" class="finishedGoalsPanel__goalElement__delete-button"><span class="glyphicon glyphicon-remove"></span></p>
				<div class="row">
					<div class="col-md-4">
						<img class="center-block img-responsive finishedGoalsPanel__goalElement_img" [src]="getGoalImage(finishedGoal)">
					</div>
					<div class="col-md-8">
							<h4 class="finishedGoalsPanel__goalTitle">{{ finishedGoal.goalTitle }} : {{ finishedGoal.goalPrice }}$</h4>
							<p class="finishedGoalsPanel__priority">
								You saved {{finishedGoal.percentToSave}}% of income for this goal
							</p>
							<p class="finishedGoalsPanel__goalElement_description">
								{{ finishedGoal.goalDescription }}
							</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 allGoalsPanel__button-container">
		<form class="text-right">
			<button md-raised-button (click)="showAllGoals_onclick()" color="primary">{{getButtonMoreLessGoalsText()}}</button>
		</form>
	</div>
</div> <!--- =================================== end of all goals Panel =================================== -->