/* ================= All goals Panel ================= */

#allGoalsPanel {
	padding-top: 30px;
}

.allGoalsPanel_topMenu {
	font-size: 14px;
	background: #f3eff9;
	padding: 10px;
}

.allGoalsPanel_topMenu_item {
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.allGoalsPanel_topMenu_item_active {
	color: #673ab7;
}

.allGoalsPanel_topMenu_item_not-active {
	color: #d1c4e9;
}

.allGoalsPanel_topMenu_item+.allGoalsPanel_topMenu_item {
	margin-left: 30px;
}

.allGoalsPanel_topMenu_item:hover {
	cursor: pointer;
	color: #673ab7;
}

.allGoalsPanel__goalElement {
	background: white;
	margin-top: 10px;
	padding: 30px 10px;
	border: 1px solid #673ab7; 
}

.allGoalsPanel__goalElement_description {
	font-size: 18px;
	font-weight: 300;
}

.allGoalsPanel__goalElement_percent_complete {
	font-weight: 400;
}

.allGoalsPanel__priority {
	font-size: 12px;
	font-weight: 300;
}

.allGoalsPanel__status {
	font-size: 12px;
	font-weight: 300;
}

.allGoalsPanel__goalElement_active {
	color: black;
}

.allGoalsPanel__goalElement_waiting {
	color: #ddd;
}

.allGoalsPanel__goalElement_img {
	max-width: 150px;
}

@media (min-width : 992px ) {
	.allGoalsPanel__goalElement_img {
		max-width: 120px;
	}
}

@media (min-width : 1200px ) {
	.allGoalsPanel__goalElement_img {
		max-width: 150px;
	}
}

.allGoalsPanel__goalElement__edit-button {
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 14px;
	color: #673ab7;
}

.allGoalsPanel__goalElement__edit-button:hover {
	cursor: pointer;
	color: #d1c4e9;
}

.allGoalsPanel__button-container {
	margin-top: 10px;
	margin-bottom: 30px;
}