<!--- =================================== New goal Modal =================================== -->
<form [formGroup]="newGoalForm" (ngSubmit)="onSubmitGoalForm()">

<button md-dialog-close class="modal__close-button"><span class="glyphicon glyphicon-remove"></span></button>
<h1 md-dialog-title>{{ modalTitle }}</h1>

	<div md-dialog-content>
		<div class="col-md-6">
			<md-input-container>
			    <input mdInput placeholder="Title" formControlName="goalTitle">
			</md-input-container>
			<div *ngIf="newGoalForm.controls['goalTitle'].dirty && newGoalForm.controls['goalTitle'].hasError('required')" class="errorText">
				Please, enter title
			</div>			
			<br>
			<md-input-container>
			    <input mdInput placeholder="Description" formControlName="goalDescription">
			</md-input-container>
			<br>
			<md-input-container>
			    <input mdInput placeholder="Price" formControlName="goalPrice">
			</md-input-container>
			<div *ngIf="newGoalForm.controls['goalPrice'].dirty && newGoalForm.controls['goalPrice'].errors">
				<div *ngIf="newGoalForm.controls['goalPrice'].hasError('required')" class="errorText">
					Please, enter price
				</div>
				<div *ngIf="newGoalForm.controls['goalPrice'].hasError('pattern')" class="errorText">
					Please, use only digits (0-9) or dot «.»
				</div>
			</div>
			<br>
			<md-input-container>
			    <input mdInput placeholder="Percent % to save" formControlName="percentToSave">
			</md-input-container>
			<div *ngIf="newGoalForm.controls['percentToSave'].hasError('pattern')" class="errorText">
				Please, use only digits (0-9) or dot «.» (0-100)
			</div>			    
		</div>
		<div class="col-md-6">
			<img class="img-responsive center-block" id="newGoalPanel__newGoalImage" [src]="getPreviewFilename()">
			<div class="text-center">
				
				<label for="fileToUpload" class="custom-file-upload">
				<p class="custom-file-upload__text">
					Upload file
				</p>
				</label>
				<input id="fileToUpload" type="file" accept="image/*" (change)="fileChangeEvent($event)">
			</div>								
		</div>
	</div>  <!-- end of md-dialog-content -->
	<div md-dialog-actions>
		<div id="newGoalPanel__AddGoal_form">
			<button md-raised-button color="primary" [disabled]="!newGoalForm.valid">{{ getButtonTitle() }}</button>
		</div>
	</div>
</form> <!--- =================================== End of new goal content part =================================== -->