<!--- =================================== New goal Modal =================================== -->
<form #newGoalForm="ngForm" (ngSubmit)="onSubmitNewGoalForm(newGoalForm.value)">


<button md-dialog-close md-raised-button color="primary" class="pull-right">X</button>
<h1 md-dialog-title>Add new goal</h1>

	<div md-dialog-content>
		<div class="col-md-6">
			<md-input-container>
			    <input mdInput placeholder="Title" #goalTitleInput="ngModel" required name="goalTitle" ngModel>
			</md-input-container>
			<div [hidden]="goalTitleInput.valid || goalTitleInput.pristine" class="errorText">
				Please, enter title
			</div>
			<br>
			<md-input-container>
			    <input mdInput placeholder="Description" name="goalDescription" ngModel>
			</md-input-container>
			<br>
			<md-input-container>
			    <input mdInput placeholder="Price" #goalPriceInput="ngModel" required name="goalPrice" ngModel pattern="^(\d+|\d+\.\d*)$">
			</md-input-container>
			<div *ngIf="goalPriceInput.errors && (goalPriceInput.dirty)">
				<div [hidden]="!goalPriceInput.errors.required" class="errorText">
					Please, enter price
				</div>
				<div [hidden]="!goalPriceInput.errors.pattern" class="errorText">
					Please, use only digits (0-9) or dot «.»
				</div>				
			</div>
			<br>
			<md-input-container>
			    <input mdInput placeholder="Percent % to save" #percentToSaveInput="ngModel" name="percentToSave" ngModel pattern="^(\d+|\d+\.\d*)$">
			</md-input-container>
			<div *ngIf="percentToSaveInput.errors && percentToSaveInput.dirty">
				<div [hidden]="!percentToSaveInput.errors.pattern" class="errorText">
					Please, use only digits (0-9) or dot «.»
				</div>
			</div>
		</div>
		<div class="col-md-6">

			<img class="img-responsive center-block" id="newGoalPanel__newGoalImage" [src]="getPreviewFilename()">
			<div class="text-center">
				
				<label for="fileToUpload" class="custom-file-upload">
				<p class="custom-file-upload__text">
					Upload file
				</p>
				</label>
				<input id="fileToUpload" type="file" accept="image/*" (change)="fileChangeEvent($event)">
			</div>								
		</div>
	
	</div>  <!-- end of md-dialog-content -->
	<div md-dialog-actions>
		<div id="newGoalPanel__AddGoal_form">
			<button [disabled]="!newGoalForm.form.valid" md-raised-button color="primary">Add new goal</button>
		</div>
	</div>
</form> <!--- =================================== End of new goal content part =================================== -->