
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<!--- =================================== Main Panel =================================== -->
					<main-panel>
					</main-panel>
					<div class="clearfix"></div>
					<settings-panel>
					</settings-panel>
					
					<div class="clearfix"></div>					
					<new-goal-panel>
					</new-goal-panel>
				
				</div>
				
				<!--- =================================== Goals Panel =================================== -->
				<div class="col-md-6">
					<all-goals-panel>
					</all-goals-panel>

				</div>
			</div>
		</div>
